In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('../_raw/eaf_24.xlsx')
df.head()

,start_date,stop_date,heat_id,steel_grade,buckets,total_scrap_t,bucket1_t,bucket2_t,bucket3_t,bucket4_t,...,tapping_lime_kg,tapping_dolo_kg,tapping_cal_mezcla_kg,tapping_CaF2_kg,tapping_Al_kg,tapping_FeSi_kg,tapping_FeSiMn_kg,tapping_FeMn_kg,tapping_SiC_kg,tapping_carbon_kg
0,2024-01-01 23:35:48,2024-01-02 00:38:16,35024773,SAE 1011,3,100.390,47.500,32.500,20.39,0,...,340,152,0,75,0,92,675,0,0,0
1,2024-01-02 00:38:20,2024-01-02 01:44:44,35024774,SAE 1011,2,78.151,45.572,32.579,0.00,0,...,338,154,0,75,0,90,678,0,0,0
2,2024-01-02 01:44:48,2024-01-02 03:04:50,35024775,SAE 1011,2,77.854,45.776,32.078,0.00,0,...,339,153,0,75,0,98,680,0,0,0
3,2024-01-02 03:04:54,2024-01-02 03:56:56,35024776,SAE 1011,2,78.156,46.475,31.681,0.00,0,...,339,154,0,77,0,92,673,0,0,0
4,2024-01-02 03:57:02,2024-01-02 04:43:22,35024777,SAE 1011,2,77.257,46.076,31.181,0.00,0,...,339,154,0,77,0,91,684,0,0,0

In [4]:
df_seleccion = df[['steel_grade', 'energy_MWh']]

In [6]:
agrupacion = df_seleccion.groupby('steel_grade').agg({'energy_MWh': ['sum','mean']})
agrupacion

            energy_MWh
                   sum       mean
steel_grade
1011 CAU       2507.85  28.825862
1012 CAU       1664.90  29.730357
1013 CAU       1222.95  29.828049
1015 CAU        422.15  28.143333
1028 CAU        743.65  28.601923
1030 CAU        112.25  28.062500
1523 MOD       6238.15  29.564692
DIN 3702       2665.05  32.500610
SAE 1006       2160.25  29.592466
SAE 1008       3968.20  29.613433
SAE 1010        118.05  29.512500
SAE 1011       9897.35  33.212584
SAE 1022      29933.55  30.083970
SAE 1026        176.10  29.350000
SAE 3702       3737.45  31.145417
SDP 3702         33.35  33.350000
SID 3702         31.70  31.700000